<h3>ANNONCES</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Annonce</th>
      <th>Équipe</th>
      <th>Contrée</th>
      <th>Points</th>
      <th>Réussite</th>
      <th>
        <%= link_to '+', new_game_bidding_path(@game) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @game.biddings.order(:id).reverse.each do |b| %>
      <tr>
        <td><%= @biddings_size %></td>
        <td><%= b.bid_points %></td>
        <td><%= b.bid_team %></td>
        <td><%= b.countered %></td>
        <td><%= b.points %></td>
        <td><%= b.success ? 'Faite' : 'Chutée' %></td>
        <td><%= link_to 'modifier', edit_game_bidding_path(@game, b) %></td>
      </tr>
      <% @biddings_size = @biddings_size - 1 %>
    <% end %>
  </tbody>
</table>
